* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #76885B;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #76885B;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #76885B;
    width: 100%;
    line-height: 50px;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 40px 15px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px;
}

.header {
    margin: 30px 0;
    overflow: hidden;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.galeri {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.galeri img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border: 1px solid #76885B;
    box-shadow: 1px 2px 3px #41C9E2;
    border-radius: 5px;
    box-sizing: border-box;
}

.galeri img:hover {
    transition: all 0,2s ease-in-out;
    transform: scale(1.1);
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.blog div.area div {
    width: 50%;
    height: fit-content;
}

.blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.blog .area .text article {
    padding: 60px;
    font-size: 12px;
}

.blog .area .text article h4 {
    margin: 0px;
}

.blog .area .text article a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.blog .area .text article a:hover {
    color: #B0C5A4;
    text-decoration: underline;
}
#contact {
    background: #B0C5A4;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #76885B ;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}